h1 {
	text-transform: uppercase;
	font-weight: 400 !important;
	color: #fff;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 32px !important;
	}
}

@media screen and (max-width: 380px) {
	h1 {
		font-size: 24px !important;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.orange_button {
	padding: 12px 30px;
	background-color: #fe531b;
	border: none;
	border: 1px solid #fe531b;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	transition: 0.3s;
}

.orange_button:hover {
	background-color: transparent;
	color: #fe531b;
}

.orngbtn_border {
	border-radius: 5px;
}

.orange_button_margin {
	margin: 50px auto 0px;
	display: block;
}

.title_section {
	color: #555354;
	font-size: 32px;
	width: 100%;
	text-align: center;
	display: block;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 45px;
}

.title_section:after {
	content: "";
	display: block;
	position: absolute;
	width: 70px;
	height: 2px;
	background-color: #117ff8;
	right: 0;
	left: 0;
	margin: 0px auto;
	bottom: 0px; 
}

@media screen and (max-width: 500px) {
	.title_section {
		font-size: 24px;
	}
}



/* HEADER */


header {
	background-image: url(../images/header_image.jpg);
	background-size: cover;
}

#head_section {
	background-color: rgb(0, 0, 0, 0.5);
	padding: 160px 0px 180px;
}

@media screen and (max-width: 990px) {
	#head_section {
		padding: 30px 0px 30px;
	}
}

.container {
	max-width: 1080px !important;
}

.form {
	width: 345px;
	height: 345px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

@media screen and (max-width: 990px) {
	.form {
		width: 100%;
		margin-bottom: 20px;
	}
}

.form > * {
	width: 100%;

}


.form > input {
	margin-bottom: 20px;
	display: block;
	height: auto;
	padding: 0px 10px;
}

.form_title {
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	color: #787878;
}

.sub_title {
	text-align: center;
	color: #787878;
}

.text_timer {
	display: flex;
	flex-wrap: wrap;
}

.text_timer h3 {
	font-weight: 400 !important;
	font-size: 18px !important;
	color: #fff;
}

.red_bg_text {
	background-color: #a20f2b;
}

.orange_bg_text {
	background-color: #fe531b;
}

.countdown {
	display: flex;
	justify-content: center;
	width: 100%;
	color: #fff;
}

.countdown_number {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.countdown_time {
	font-size: 28px;
}

.countdown_text {
	font-size: 12px;
	text-transform: uppercase;
}


/* PRIVILEGES */


#privileges {
	padding-top: 160px;
}

@media screen and (max-width: 990px) {
	#privileges {
		padding-top: 30px;
	}
}

.privileg_icon {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0px;
}

.privileg_icon img{
	width: 80px;
	height: auto;
	margin-bottom: 30px;
}

.priv_title {
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	min-height: 45px;
}

.priv_subtitle {
	width: 100%;
	color: #787878;
	font-size: 14px;
}


/* CURATOR */


#curator {
	padding-top: 140px;
}

@media screen and (max-width: 990px) {
	#curator {
		padding-top: 30px;
	}
}

.curator {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 990px) {
	.curator {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.curator_title {
	color: #787878;
	font-size: 24px;
	width: 100%;
	display: block;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 45px;
}

.curator_title:after {
	content: "";
	display: block;
	position: absolute;
	width: 70px;
	height: 1px;
	background-color: #0e7ff9;
	left: 0;
	margin: 0px auto;
	bottom: 0px; 
}

@media screen and (max-width: 768px) {
	.curator_title {
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
}

.curator_ul {
	list-style-type: none;
	padding: 0px;
	color: #787878;
}

.curator_li {
	background-image: url(../images/check.png);
	background-size: auto 16px;
	background-position: top 4px left;
	background-repeat: no-repeat;
	display: block;
	padding-left: 20px;
}

.curator_button {
	float: right;
}

@media screen and (max-width: 768px) {
	.curator_button {
		float: none;
		width: 100%;
	}
}


/* CRITERION */


#criterion {
	padding-top: 110px;
}

@media screen and (max-width: 990px) {
	#criterion {
		padding-top: 30px;
	}
}

.criterion_card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	background-color: #f7f7f7;
	padding: 30px;
	margin-bottom: 30px;
}

.criterion_img {
	width: 30px;
	height: auto;
	margin-bottom: 30px;
}

.criterion_title {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}

.criterion_text {
	text-align: center;
	font-size: 14px;
}


/* REVIEWS */


#reviews {
	padding: 160px 0px 100px;
}

@media screen and (max-width: 990px) {
	#reviews {
		padding: 30px 0px;
	}
}

.review {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-image: url(../images/quotes.png);
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: left -10px top -20px;
	padding: 10px;
}

.review_text {
	font-style: italic;
	color: #908e8e;
	margin-bottom: 20px;
}

.review_name {
	font-weight: 700;
}

.review_time {
	font-size: 12px;
}


/* FOOTER CALLBACK */


footer {
	background-image: url(../images/header_image.jpg);
	background-size: cover;
}

.title_footer {
	font-size: 32px;
	text-align: center;
	color: #fff;
	width: 100%;
	margin-bottom: 20px;
}

.subtitle_footer {
	font-size: 14px;
	text-align: center;
	color: #f7f7f7;
	width: 100%;
	margin-bottom: 20px;
}

#callback_footer {
	background-color: rgb(0, 0, 0, 0.8);
	padding: 160px 0px 150px;
}

@media screen and (max-width: 768px) {
	#callback_footer {
		padding: 30px 0px;
	}
}

.cllbck_input_footer {
	margin: 10px 0px;
	width: 100%;
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
	padding: 5px 5px;
}


/* FOOTER COPYRIGHT */


#copyright_footer {
	background-color: #111111;
	padding: 60px 0px 50px;
}

@media screen and (max-width: 768px) {
	#copyright_footer {
		padding: 30px 0px;
	}
}

.copyright_text {
	color: #f7f7f7;
}